/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 396px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #f3ad2e;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  text-shadow: 2px 2px 2px #270c41, -2px 2px 2px #270c41, 2px -2px 2px #270c41, -2px -2px 2px #270c41;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  height: 396px;
  text-shadow: 2px 2px 2px #270c41, -2px 2px 2px #270c41, 2px -2px 2px #270c41, -2px -2px 2px #270c41;
}

.chat {
  content: '';
  width: 100%;
  height: calc(100vh - 200px);
  background: white;
  padding: 5px 10px;
}

@font-face{
  font-family: "fox";
  src: url("../Fox Cavalier.otf");
}

div, h4, a, h1, h2, h3, h4, h5, h6, p{
  font-family: fox;
}

.navbar, .card-body, footer{
  background-color: #270C41;
}

a, p, h1, .card-title, .dropdown-item{
  color: #f3ad2e;
}


